os: linux
language: python
dist: bionic
go:
  - "1.14"
python:
  - "3.6"
services:
  - docker
env:
  - COVERAGE="true"
addons:
  apt:
    packages:
      - flawfinder
      - squashfs-tools
      - uuid-dev
      - libuuid1
      - libffi-dev
      - libssl-dev
      - libssl1.0.0
      - libarchive-dev
      - libgpgme11-dev
      - libseccomp-dev
matrix:
  include:
    - go: "1.14"
    - python: "3.6"
before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - sudo rm -rf $HOME/miniconda
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - conda activate test-environment
  - sudo chmod u+x .travis/*.sh
  - /bin/bash .travis/setup_singularity.sh
install:
  - source tests/travis_install.sh
  - pip install -r requirements.txt
  - pip install twine
  - pip install .
before_script:
  - git config --global user.email "support@travis-ci.org"
  - git config --global user.name "Travis"
  - singularity pull shub://FCP-INDI/C-PAC || singularity pull docker://fcpindi/c-pac:latest
script:
  - coverage run -m pytest
  - coverage report -m
after_success:
  - if [[ "$COVERAGE" == "true" ]]; then coveralls || echo "failed"; fi
  - bash .travis/update_README_usage.sh
after_script:
  - travis-cleanup
cache:
  pip: true
  directories:
    - $HOME/miniconda
